# Node dependencies
node_modules/
**/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Vite / build
dist/
*.local

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# Optional coverage directory
coverage/
